<agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
    <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Lugares Cercanos</h2>
            <a class="btn btn-primary" routerLink="/crear/new">Crear Nuevo Negocio</a>
            <ul class="list-group">
                <ng-container *ngFor="let lugar of lugares">

                        <li class="list-group-item">
                            <a routerLink="/crear/{{lugar.id}}"><h3>{{lugar.nombre}}</h3></a>
                            <br />
                            <small>Creado: {{lugar.id | date:'mediumTime' | uppercase}}</small>
                            <p [innerHtml]="lugar.descripcion | linkifystr"></p>
                        </li>
                </ng-container>
            </ul>
        </div>
        <div class="col-md-4" [@contenedorAnimable]="state">
            <h2>Destacados</h2>
            <ng-container *ngFor="let lugar of lugares">
                <div class="bg-warning padding" *ngIf="lugar.plan == 'pagado'">
                    <a routerLink="/crear/{{lugar.id}}"><h3>{{lugar.nombre}}</h3></a>
                    <p [innerHtml]="lugar.descripcion | linkifystr"></p>
                </div>
            </ng-container>
        </div>
    </div>
</div>