<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="well">
                <label>Email</label>
                <input type="email" class="form-control" />
                <br />
                <label>Contraseña</label>
                <input type="password" class="form-control" />
                <hr />
                <a class="btn btn-primary btn-block">Login!</a>
                <a class="btn btn-default btn-block">Cancelar</a>
            </div>
        </div>
    </div>
</div>