<!--The content below is only a placeholder and can be replaced.-->
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<hr />
<ul>
    <ng-container *ngFor="let lugar of lugares">
        <li *ngIf="lugar.active">{{lugar.nombre}}</li>
    </ng-container>
</ul>
<ul>
    <ng-container *ngFor="let lugar of lugares; let i = index">
        <a contar-clicks><li [ngStyle]="{color: (lugar.active) ? 'black' : 'gray'}" [ngClass]="{numero_par: (i+1) % 2 !== 0}" >
            {{lugar.nombre}}
        </li></a>
    </ng-container>
</ul>